.foot
    p Copyright
        | &nbsp;
        a(href="http://www.nsip.edu.au/") NSIP
        | &nbsp;2015 - 2018 under the
        | &nbsp;
        a(href="http://www.apache.org/licenses/LICENSE-2.0.txt") Apache 2.0 license
        | &nbsp;
        a(href="privacy.html") Privacy
    a.footer_version(style="float: right;" href="changelog.html") Version:&nbsp;
        span HITS Dashboard:&nbsp;
        span.footer_hits_version_number
        span &nbsp;SIF Data:&nbsp;
        span.footer_data_version_number
        span &nbsp;SIF Server:&nbsp;
        span.foot_server_version_number

block js
    if !release
        script(src='js/footer.js')