.foot
    p(class="copyright" style="float: left;") Copyright
        | &nbsp;
        a(href="http://www.nsip.edu.au/") NSIP
        | &nbsp;2015 - 2019 under the
        | &nbsp;
        a(class="footerhref" href="http://www.apache.org/licenses/LICENSE-2.0.txt") Apache 2.0 license
        | &nbsp; | &nbsp;
        a(href="privacy.html") Privacy
    a.footer_version(style="float: right;" href="changelog.html") Version:&nbsp;
        span HITS:&nbsp;
        span.footer_hits_version_number
