.foot
    p Copyright
        | &nbsp;
        a(href="http://www.nsip.edu.au/") NSIP
        | &nbsp;2015 - 2018 under the
        | &nbsp;
        a(href="http://www.apache.org/licenses/LICENSE-2.0.txt") Apache 2.0 license
        | &nbsp;
        a(href="privacy.html") Privacy
