nav.navbar.navbar-static-top.header-navbar
    .header-navbar-mobile
        .header-navbar-mobile__menu
            button.btn(type="button")
                i.fa.fa-bars
        .header-navbar-mobile__title
            span= page
        .header-navbar-mobile__settings.dropdown
                a.btn.dropdown-toggle(href='', data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                    i.fa.fa-power-off
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a(href="#") Log Out
    .navbar-header
        a.navbar-brand(href="index.html")
            .logo.text-nowrap
                .logo__img
                    i.fa.fa-chevron-right
                span.logo__text HITS Dashboard

    .topnavbar
        ul.nav.navbar-nav.navbar-left
        ul.userbar.nav.navbar-nav
            li(style="border: 1px solid grey; margin: 7px; padding: 7px; ")
                div.hitsinfo-name
                div.hitsinfo-email
            li.dropdown
                a.userbar__settings.dropdown-toggle(href='', data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                    i.fa.fa-power-off
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a(href="login.html") Log In
                    li
                        a(href="logout.html") Log Out
                    li
                        a(href="recover.html") Recover
