li
    a(href='/usecases/basic_daily_attendance/hits-dashboard.html') Basic Daily Attendance
li
    a(href='/usecases/basic_financial_transactions/hits-dashboard.html') Basic Financial Transactions
li
    a(href='/usecases/enrollment/hits-dashboard.html') Enrolment
li
    a(href='/usecases/gradebook/hits-dashboard.html') Gradebook
li
    a(href='/usecases/naplan_registration/hits-dashboard.html') NAPLAN Registration
li
    a(href='/usecases/naplan_results_reporting/hits-dashboard.html') NAPLAN Results Reporting
li
    a(href='/usecases/timetable/hits-dashboard.html') Timetable 