li
    a(href='usecase_basic_daily_attendance.html') Basic Daily Attendance
li
    a(href='usecase_basic_financial_transactions.html') Basic Financial Transactions
li
    a(href='usecase_enrolment.html') Enrolment
li
    a(href='usecase_gradebook.html') Gradebook
li
    a(href='usecase_naplan_registration.html') NAPLAN Registration
li
    a(href='usecase_naplan_results_recording.html') NAPLAN Results Reporting
li
    a(href='usecase_timetable.html') Timetable 