extends ./parts/layout.jade
block vars
    - page = 'Account';
    - area = 'Tools';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li.active Blank
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .template.template__blank
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Databases
                        .panel-body
                            table.datalist__table.table.datatable.display.table-hover(id='account-databases', width='100%')
    .container-fluid.half-padding
        .template.template__blank
            .row
                .col-md-12
                    .form
                        .form-group
                            input.form-control#create-name(name="name", type='text', placeholder='Name of Database')
                        .form-group
                            label.control-label Type
                            select.selectize#create-type
                                option(value="blank") Blank
                                option(value="basic") Basic
                                option(value="timetable") Timetable

                        .form-group.login__action
                            .login__submit
                                button.btn.btn-default#create-create(type='submit') Create
                    
block css
    link(href='libs/datatables/media/css/dataTables.bootstrap.min.css', rel='stylesheet')
block js
    script(src='libs/datatables/media/js/jquery.dataTables.min.js')
    script(src='libs/datatables/media/js/dataTables.bootstrap.js')
    script(src='js/account.js')

