extends ./parts/layout.jade
block vars
    - page = 'Account';
    - area = 'Tools';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li
                  a(href="start.html") Developer Tools
                li.active Databases
    .container-fluid.half-padding
        .template.template__blank
            .row
                .col-md-12
                    .panel.panel-success
                        .panel-heading
                            h3.panel-title Create Database
                        .panel-body
                          .form
                            .row
                              .col-md-12
                                .alert.alert-info.alert-dismissible(role="alert")
                                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                                        span(aria-hidden="true") &times;
                                    i.alert-ico.fa.fa-fw.fa-info
                                    strong Name and Template!&thinsp;
                                    | Enter a meaningful name for your database and choose a database template.


                            .row
                              .col-md-8
                                .form-group
                                    label.control-label Name
                                    input.form-control#create-name(name="name", type='text', placeholder='Name of Database')
                              .col-md-4
                                .form-group
                                    label.control-label Type / Usecase / Template
                                    select.selectize#create-type
                                        option(value="blank") Blank
                                        option(value="basic") Basic
                                        option(value="timetable") Timetable

                            .row
                              .col-md-12
                                .alert.alert-info.alert-dismissible(role="alert")
                                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                                        span(aria-hidden="true") &times;
                                    i.alert-ico.fa.fa-fw.fa-info
                                    strong Customise!&thinsp;
                                    | the template settings below.

                            .row
                              .col-md-8
                                .form-group
                                    input.slider#create-schools(type="text", name="schools", value="")
                                .form-group
                                    input.slider#create-students(type="text", name="students", value="")
                                .form-group
                                    input.slider#create-teachers(type="text", name="teachers", value="")
                                .form-group
                                    input.slider#create-classrooms(type="text", name="classrooms", value="")

                              .col-md-4
                                .checkbox.checkbox-primary(data-toggle="popover" title="What is this?" data-content="Create a set of teaching groups and link the students")
                                    input#create-teachinggroups(type='checkbox', checked='checked')
                                    label(for='create-teachinggroups') Teaching groups
                                .checkbox.checkbox-primary(data-toggle="popover" title="What is this?" data-content="Timetable examples for each student")
                                    input#create-timetable(type='checkbox', checked='checked')
                                    label(for='create-timetable') Timetable example data
                                .checkbox.checkbox-success(data-toggle="popover" title="What is this?" data-content="Grades created for all students and classes")
                                    input#create-grading(type='checkbox', checked='checked')
                                    label(for='create-grading') Grading for each class/student
                                .checkbox.checkbox-info(data-toggle="popover" title="What is this?" data-content="Contact information and photo per student and staff")
                                    input#create-contacts(type='checkbox', checked='checked')
                                    label(for='create-contacts') Contacts information and photos
                                .checkbox.checkbox-warning(data-toggle="popover" title="What is this?" data-content="Random set of invoices and accounts")
                                    input#create-accounts(type='checkbox', checked='checked')
                                    label(for='create-accounts') Accounts and invoices
                                .checkbox.checkbox-primary(data-toggle="popover" title="What is this?" data-content="NAPLAN sample data created")
                                    input#create-naplan(type='checkbox', checked='checked')
                                    label(for='create-naplan') NAPLAN sample
                                .checkbox.checkbox-primary(data-toggle="popover" title="What is this?" data-content="Use HMAC for authentication by default")
                                    input#create-hmac(type='checkbox')
                                    label(for='create-hmac') HMAC (auth)
                            .row
                              .col-md-12
                                  div &nbsp;
                                  button.btn.btn-success#create-create(type='submit') Create
                      .modal.fade#changeusecase
                          .modal-dialog
                              .modal-content
                                  .modal-header
                                      button.close(type="button", data-dismiss="modal", aria-label="Close")
                                          span(aria-hidden="true") &times;
                                      h4.modal-title Change usecase values
                                  .modal-body
                                      p By changing the usecase, you will be updating the options set in the form below.
                                      p Press Continue to accept the new values. Close will leave the selected usecase and the old form values.
                                  .modal-footer
                                      button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                                      button.btn.btn-primary#set-values(type="button", data-dismiss="modal") Continue
    .container-fluid.half-padding
        .template.template__blank
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Existing Databases
                        .panel-body
                            table.datalist__table.table.datatable.display.table-hover(id='account-databases', width='100%')

block css
    link(href='libs/datatables/media/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='libs/selectize/dist/css/selectize.default.css', rel='stylesheet')
    link(href='libs/selectize/dist/css/selectize.bootstrap3.css', rel='stylesheet')
    link(href='libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', rel='stylesheet')
    link(href='libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css', rel='stylesheet')
    link(href='libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css', rel='stylesheet')
    link(href='libs/bootstrap-select/dist/css/bootstrap-select.min.css', rel='stylesheet')
block js
    script(src='libs/datatables/media/js/jquery.dataTables.min.js')
    script(src='libs/datatables/media/js/dataTables.bootstrap.js')
    script(src='js/account.js')
    script(src='libs/selectize/dist/js/standalone/selectize.min.js')
    script(src='libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js')
    script(src='libs/bootstrap-tabdrop/bootstrap-tabdrop.min.js')
    script(src='libs/bootstrap-select/dist/js/bootstrap-select.min.js')
