extends ./parts/layout.jade
block vars
    - page = 'Change Log';
    - area = 'Change Log';
block main

    .main-heading
        .main-title
            ol.breadcrumb
                li Version
                li.active Change Log
    .container-fluid.half-padding
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .container-fluid.half-padding
                        .row
                            .col-md-12
                                .panel.panel-info
                                    .panel-heading
                                        h3.panel-title Change Log
                                    .panel-body
                                         ul.nav.nav-tabs(role="tablist")
                                                li.active(role="presentation")
                                                    a(href="#dashboard", role="tab", data-toggle="tab") HITS Dashboard
                                                li(role="presentation")
                                                    a(href="#data", role="tab", data-toggle="tab") SIF Data
                                                li(role="presentation")
                                                    a(href="#server", role="tab", data-toggle="tab") SIF Server
                                            .tab-content
                                                .tab-pane.active#dashboard(role="tabpanel")
                                                    .readme_output_dashboard(style="white-space: pre;")
                                                .tab-pane#data(role="tabpanel")
                                                    .readme_output_data(style="white-space: pre;")
                                                .tab-pane#server(role="tabpanel")
                                                    .readme_output_server(style="white-space: pre;")                                                

block css
block js
    if !release
        script(src='js/template/index.js')
