extends ./parts/layout.jade
block vars
    - page = 'Change Log';
    - area = 'Change Log';
block main

    .main-heading
        .main-title
            ol.breadcrumb
                li Version
                li.active Change Log
    .container-fluid.half-padding
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .container-fluid.half-padding
                        .row
                            .col-md-12
                                .panel.panel-info
                                    .panel-heading
                                        h3.panel-title Change Log
                                    .panel-body
                                         ul.nav.nav-tabs(role="tablist")
                                                li.active(role="versions")
                                                    a(href="#versions", role="tab", data-toggle="tab") Versions
                                                li(role="dashboard")
                                                    a(href="#dashboard", role="tab", data-toggle="tab") HITS Dashboard
                                            .tab-content
                                                .tab-pane.active#versions(role="tabpanel")
                                                    .readme_output_versions
                                                      h2 HITS Version
                                                      span#hits-version
                                                      h2 Packages
                                                      table.datalist__table.table.datatable.display.table-hover(id='hits-packages', width='100%')
                                                .tab-pane#dashboard(role="tabpanel")
                                                    .readme_output_dashboard(style="white-space: pre;")

block css
block js
  script(src='js/about.js')
