extends ./parts/layout.jade
block vars
    - page = 'Javascript Client';
    - development = false;
    - area = 'Tools';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li
                  a(href="start.html") Start here
                li
                  a(href="account.html") Databases
                li
                  a(href="dashboard.html") Information
                li.active Javscript Client
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .template.template__table_data
            .row
                .col-md-2
                  span Database:
                .col-md-4
                  select#hits-dblist
                .col-md-6
                  span
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Client
                        .panel-body
                            p Simple client used to get, post and put SIF records to the HITS endpoint for your unique environment. Implements basic parameters for SIF REST queries such as paging, and takes care of authentication. Provides templates for populating SIF records in create posts.
                            include client.html
