extends ./parts/layout.jade
block vars
    - page = 'Connect Java consumer';
    - area = 'Developer Help';
block main

    .main-heading
        .main-title
            ol.breadcrumb
                li.active Help
        // .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .container-fluid.half-padding
                        .row
                            .col-md-12
                                .panel.panel-danger
                                    .panel-heading
                                        h3.panel-title Connect Java consumer
                                    .panel-body
                                        // include ../docs/help/connect_java_consumer.html
block css
block js
    if !release
        script(src='js/template/index.js')
