extends ./parts/layout.jade
block vars
    - page = 'Contacts';
    - area = 'Admin';
    - development = false;
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li
                    a(href="./") Admin
                li.active Contacts
    .container-fluid.half-padding
        .template.template__table_data
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Contacts
                        .panel-body
                            .container-fluid.half-padding
                                #buttons
                                table.datalist__table.table.datatable.display.table-hover(id='admin-contacts', width='100%')

block css
    link(href='libs/datatables/media/css/dataTables.bootstrap.min.css', rel='stylesheet')
block js
    script(src='libs/datatables/media/js/jquery.dataTables.min.js')
    script(src='libs/datatables/media/js/dataTables.bootstrap.js')
    script(src='js/admin.js')
