extends ./parts/layout.jade
block vars
    - page = 'Dashboard';
    - development = false;
    - area = 'Tools';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li
                    a(href="./") Tables
                li.active Data Table
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .template.template__table_data
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Dashbaord
                        .panel-body
                            .container-fluid.half-padding
                                ul
                                    li Status
                                        span &nbsp;=&nbsp;
                                        span#dashboard-status
                                    li Options
                                        span &nbsp;=&nbsp;
                                        span#dashboard-options
                                    li Message
                                        span &nbsp;=&nbsp;
                                        span#dashboard-message
                            .p Links
                                ul
                                    li 
                                       a#dashboard-client Javascript Client
                                   
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Dashbaord
                        .panel-body
                            ul.nav.nav-tabs(role="tablist")
                                li.active(role="presentation")
                                    a(href="#info",aria-controls="customers", role="tab", data-toggle="tab") Information
                                li(role="presentation")
                                    a(href="#database",aria-controls="managers", role="tab", data-toggle="tab") Database
                                li(role="presentation")
                                    a(href="#old",aria-controls="admins", role="tab", data-toggle="tab") Old
                                li(role="presentation")
                                    a(href="#errorlog",aria-controls="admins", role="tab", data-toggle="tab") Error Log
                                li(role="presentation")
                                    a(href="#validate",aria-controls="admins", role="tab", data-toggle="tab") Validate
                            .tab-content
                                .tab-pane.active#info(role="tabpanel")
                                    p Info (TODO - Usecase data and other links to getting started, download demos and clients etc)
                                .tab-pane#database(role="tabpanel")
                                    p Database - Drop down list of Tables. Table view of selected table.
                                    p Select table: 
                                        // select.selectize#database-tables
                                        select#database-tables
                                            option (select)
                                    table.datalist__table.table.datatable.display.table-hover(id='database-view', width='100%')
                                .tab-pane#old(role="tabpanel")
                                    ul
                                        li List of connection data
                                        li DB Information (which Use case?)
                                        li References to all documentation
                                        li Table viewer (raw DB data)
                                        li Error Log viewer (on SIF Server)
                                        li SIF Javascript Client
                                .tab-pane#errorlog(role="tabpanel")
                                    p Coming soon (TODO copy old code for Error log javascript here)
                                .tab-pane#validate(role="tabpanel")
                                    p Coming soon (Feb 2017)
                                    
block css
    link(href='libs/datatables/media/css/dataTables.bootstrap.min.css', rel='stylesheet')
block js
    script(src='libs/datatables/media/js/jquery.dataTables.min.js')
    script(src='libs/datatables/media/js/dataTables.bootstrap.js')
    script(src='js/dashboard.js')
