extends ./parts/layout.jade
block vars
    - page = 'Information';
    - development = false;
    - area = 'Tools';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li
                  a(href="start.html") Developer Tools
                li.active Information
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .template.template__table_data
            .row
                .col-md-2
                  span Database:
                .col-md-4
                  select#hits-dblist
                .col-md-6
                  span
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Database Status
                        .panel-body
                          .container-fluid.half-padding
                            .row
                              .col-md-6
                                .alert#dashboard-statusalert Loading...
                                  p &nbsp;
                                ul
                                    li Options
                                        span &nbsp;=&nbsp;
                                        span#dashboard-options
                                    li Message
                                        span &nbsp;=&nbsp;
                                        span#dashboard-message
                              .col-md-6
                                div.half-padding
                                  a#dashboard-client(href='')
                                    button.btn.btn-info(type="button") Javascript Client
                                  button.btn.btn-primary(type="button", data-toggle="modal", data-target="#debug") Debug Create
                                  p &nbsp;

            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Information, Database tables, Transactions
                        .panel-body
                            ul.nav.nav-tabs(role="tablist")
                                li.active(role="presentation")
                                    a(href="#info",aria-controls="customers", role="tab", data-toggle="tab") Information
                                li(role="presentation")
                                    a(href="#database",aria-controls="managers", role="tab", data-toggle="tab") Database
                                li(role="presentation")
                                    a(href="#transactionlog",aria-controls="admins", role="tab", data-toggle="tab") Transaction Log
                                li(role="presentation")
                                    a(href="#validate",aria-controls="admins", role="tab", data-toggle="tab") Validate
                            .tab-content
                                .tab-pane.active#info(role="tabpanel")
                                        table.table
                                            thead
                                                tr
                                                    th Field
                                                    th Value
                                            tbody

                                                tr
                                                    td Request Base URL
                                                    td http://hits.nsip.edu.au/SIF3InfraREST/hits/requests
                                                tr
                                                    td Provider Server:
                                                    td
                                                        span http://hits.nsip.edu.au/SIF3InfraREST/hits/
                                                tr
                                                    td Create Environment URL:
                                                    td
                                                        span http://hits.nsip.edu.au/SIF3InfraREST/hits/environments/environment
                                                tr
                                                    td Vendor Name
                                                    td
                                                        span NSIP (You can choose)
                                                tr
                                                    td Solution ID:
                                                    td
                                                        span HITS
                                                tr
                                                    td Application Key
                                                    td
                                                        span#dashboard-applicationkey
                                                tr
                                                    td User Token
                                                    td
                                                        span#dashboard-usertoken
                                                tr
                                                    td Password
                                                    td
                                                        span#dashboard-password
                                                tr
                                                    td Session Token (when available)
                                                    td
                                                        span#dashboard-sessiontoken
                                                tr
                                                    td Auth Method
                                                    td
                                                        span#dashboard-authmethod
                                                tr
                                                    td Environment URL (when available)
                                                    td
                                                        span#dashboard-environment
                                .tab-pane#database(role="tabpanel")
                                    p Select a table to view.
                                    p Select table:
                                        select#database-tables
                                            option (select)
                                    table.datalist__table.table.datatable.display.table-hover(id='database-view', width='100%')
                                .tab-pane#transactionlog(role="tabpanel")
                                    table.datalist__table.table.datatable.display.table-hover(id='audit-view', width='100%')
                                .tab-pane#validate(role="tabpanel")
                                    p Click "Generate" to update report
                                    select#report-type
                                        option(value="TimeTable") Timetable
                                        option(value="Attendance") Daily Attendance
                                        option(value="NAP_Registration") NAP Registration
                                        option(value="ClassroomAssessment") Classroom Assessment
                                        option(value="Enrollment") Enrollment
                                        option(value="Financial") Financial
                                    button.btn.btn-info#report-button(type="button") Generate
                                    div#report-data


      .modal.fade#audit-one
          .modal-dialog.modal-lg
              .modal-content
                  .modal-header
                      button.close(type="button", data-dismiss="modal", aria-label="Close")
                          span(aria-hidden="true") &times;
                      h4.modal-title Audit View
                  .modal-body
                      #audit-one-body Loading
                      h2 Request Headers
                      pre
                        code.field.xml#audit-field-requestHeaders
                      h2 Request
                      pre
                        code.field.xml#audit-field-request
                      h2 Response Headers
                      pre
                        code.field.xml#audit-field-responseHeaders
                      h2 Response
                      pre
                        code.field.xml#audit-field-response
                  .modal-footer
                      button.btn.btn-default(type="button", data-dismiss="modal") Close

      .modal.fade#debug
          .modal-dialog.modal-lg
              .modal-content
                  .modal-header
                      button.close(type="button", data-dismiss="modal", aria-label="Close")
                          span(aria-hidden="true") &times;
                      h4.modal-title Debug
                  .modal-body
                      h2 Option Data
                      pre
                        code.field.xml#debug-optiondata
                      h2 Log
                      pre
                        code.field.xml#debug-log
                  .modal-footer
                      button.btn.btn-default(type="button", data-dismiss="modal") Close
block css
    link(href='libs/datatables/media/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css')

block js
    script(src='libs/datatables/media/js/jquery.dataTables.min.js')
    script(src='libs/datatables/media/js/dataTables.bootstrap.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js')
    script(src='js/dashboard.js')
    script(src='js/audit.js')
    script(src='js/report.js')
