extends ./parts/layout.jade
block vars
    - page = 'Developer Help';
    - area = 'Developer Help';
block main

    .main-heading
        .main-title
            ol.breadcrumb
                li.active Developer Help
        // .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .container-fluid.half-padding
                        .row
                            .col-md-12
                                .panel.panel-info
                                    .panel-heading
                                        h3.panel-title Developer Help
                                    .panel-body
                                        .row
                                          .col-md-6
                                            ul
                                                li
                                                    a(href='faq.html') FAQ
                                                li
                                                    a(href='connect_java_consumer.html') Connect Java consumer
                                                li
                                                    a(href='connect_generic_consumer.html') Connect generic consumer
                                                li
                                                    a(href='validate_XML_SIF.html') Validate your XML against the SIF AU schema
                                                li
                                                    a(href='query_by_example.html') Query by example
                                                li
                                                    a(href='https://kb.nsip.edu.au/display/HD/Get+started+with+HITS+Dashboard') Additional help topics
block css
block js
