extends ./parts/layout.jade
block vars
    - page = 'Welcome';
    - area = 'Welcome';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li.active Welcome
        // .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .container-fluid.half-padding
                        .row
                            .col-md-6
                                .panel.panel-info
                                    .panel-heading
                                        h3.panel-title Welcome to HITS (Hub Integration Testing Services)
                                    .panel-body
                                        p HITS is an assurance and demonstration environment for education integrations.
                                .panel.panel-info
                                    .panel-heading
                                        h3.panel-title Request an account
                                    .panel-body
                                      .form-horizontal
                                         form#welcomeform
                                            .form-group
                                              label.col-sm-2.control-label Email address
                                                  span.requiredField *
                                              .col-sm-10
                                                  input.form-control#email-email(name='email',type="email", placeholder="your@email")
                                            .form-group
                                              label.col-sm-2.control-label Name
                                                  span.requiredField *
                                              .col-sm-10
                                                  input.form-control#email-name(name='name',type="text", placeholder="Your name")
                                            .form-group
                                              label.col-sm-2.control-label Organisation
                                                  span.requiredField *
                                              .col-sm-10
                                                  input.form-control#email-organisation(name="organisation",type="text", placeholder="Your organisation")
                                            .form-group
                                              label.col-sm-2.control-label Jurisdiction
                                              .col-sm-10
                                                p What jurisdiction is your project associated with?
                                                select.selectpicker.form-control.nsip_jurisdiction#jurisdiction(name="jurisdiction",data-size="8")
                                                    option(value="") - - - Select - - -
                                                    option(value="actgov") ACT Government
                                                    option(value="nswgov") NSW Government
                                                    option(value="ntgov") NT Government
                                                    option(value="qldgov") QLD Government
                                                    option(value="tasgov") TAS Government
                                                    option(value="vicgov") VIC Government
                                                    option(value="wagov") WA Government
                                                    option(value="actcath") ACT Catholic
                                                    option(value="nswcath") NSW Catholic
                                                    option(value="ntcath") NT Catholic
                                                    option(value="qldcath") QLD Catholic
                                                    option(value="tascath") TAS Catholic
                                                    option(value="viccath") VIC Catholic
                                                    option(value="wacath") WA Catholic
                                                    option(value="actind") ACT Independent
                                                    option(value="nswind") NSW Independent
                                                    option(value="ntind") NT Independent
                                                    option(value="qldind") QLD Independent
                                                    option(value="tasind") TAS Independent
                                                    option(value="vicind") VIC Independent
                                                    option(value="waind") WA Independent
                                            .form-group
                                              label.col-sm-2.control-label Interest
                                                  span.requiredField *
                                              .col-sm-10
                                                  p What is your interest in HITS?
                                                  textarea.form-control#email-interest(name="interest",placeholder="Interest")
                                            .form-group
                                              label.col-sm-2.control-label Are you a:
                                              .col-sm-10
                                                  .checkbox.checkbox-primary
                                                      input#ch1(name="checkbox_developer",type='checkbox')
                                                      label(for='ch1') Developer
                                                  .checkbox.checkbox-success
                                                      input#ch2(name="checkbox_architect",type='checkbox')
                                                      label(for='ch2') Architect
                                            .form-group
                                              label.col-sm-2.control-label Do you represent a:
                                              .col-sm-10
                                                  .checkbox.checkbox-info
                                                      input#ch3(name="checkbox_vendor",type='checkbox')
                                                      label(for='ch3') Vendor
                                                  .checkbox.checkbox-warning
                                                      input#ch4(name="checkbox_school_authority",type='checkbox')
                                                      label(for='ch4') School Authority
                                            .form-group
                                              label.col-sm-2.control-label
                                              .col-sm-10
                                                  .checkbox.checkbox-primary
                                                      input#ch5(name="checkbox_sif",type='checkbox')
                                                      label(for='ch5') Are you already familiar with SIF?
                                            // .form-group
                                              label.col-sm-2.control-label Involved in an NSIP Project?
                                              .col-sm-10
                                                    select.selectpicker.form-control.nsip_project_select(placeholder='Select',name="nsip_project")
                                      .form-group
                                          label.col-sm-2.control-label
                                          .col-sm-10
                                              button.btn.btn-primary#welcomesubmit(type='submit') Send request
                            .col-md-6
                                .panel.panel-success
                                    .panel-heading
                                        h3.panel-title What is HITS?
                                    .panel-body
                                        p This website has two distinct functions:
                                        ol
                                            li It provides a learning and demonstration space for anyone interested in exploring the use of SIF 3. Additional Open Standards will be supported by HITS as required. In our demos area we provide examples of how you can integrate SIF into your own products and services.
                                            li HITS maintains a set of use cases and tests that have been created by educational institutions; these include the linking of timetabling and attendance into centrally provided School information Systems, and providing students and teachers access to online services. These can be used for assurance testing by product and service creators.
                                        p We also show how interoperability could be used by schools and jurisdictions, supported by enterprise information management services, in what we refer to as the ‘Information Hub’ model.
                                        p The HITS testing service allows you to test that your product can create, receive and respond to the requirements of the relevant use case. You can run these assurance tests without having a project relationship with an educational institution.
                                        p All data supplied to you as part of the testing service will be artificial, but representative of real-world data.
                                .panel.panel-success
                                    .panel-heading
                                        h3.panel-title Information
                                    .panel-body
                                        p Copyright NSIP 2015 - 2019 under the &nbsp;
                                          a(href="http://www.apache.org/licenses/LICENSE-2.0.txt") Apache 2.0 license
                                        p Email &nbsp;
                                          a(href="mailto:info@nsip.edu.au") info@nsip.edu.au
                                        p For more information about NSIP &nbsp;
                                          a(href="http://www.nsip.edu.au") www.nsip.edu.au
                                        img(src='img/nsip.png',style='max-width: 100%; margin-right: 20px;')
                                        img(src='img/logo-200x200.png',style='max-width: 100%')
block css
  style.
    .requiredField {
        color: red; position: absolute; top: 8px; right: -2px;
    }
block js
