extends ./parts/layout.jade
block vars
    - page = 'Welcome';
    - area = 'Welcome';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li.active Welcome
        // .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .container-fluid.half-padding
                        .row
                            .col-md-6
                                .panel.panel-info
                                    .panel-heading
                                        h3.panel-title Welcome to HITS (Hub Integration Testing Services) 
                                    .panel-body
                                        p HITS is an assurance and demonstration environment for education integrations.
                                .panel.panel-info
                                    .panel-heading
                                        h3.panel-title Request an account
                                    .panel-body
                                      .form-horizontal
                                          .form-group
                                            form#welcomeform
                                              label.col-sm-2.control-label Email address
                                              .col-sm-10
                                                  input.form-control#email-email(name='email',type="email", placeholder="your@email")
                                              label.col-sm-2.control-label Name
                                              .col-sm-10
                                                  input.form-control#email-name(name='name',type="text", placeholder="Your name")
                                              label.col-sm-2.control-label Organisation
                                              .col-sm-10
                                                  input.form-control#email-organisation(name="organisation",type="text", placeholder="Your organisation")
                                              label.col-sm-2.control-label Interest
                                              .col-sm-10
                                                  p What is your interst in HITS?
                                                  textarea.form-control#email-interest(name="interest",placeholder="Interest")

                                              label.col-sm-2.control-label Options

                                                //
                                                    What is your interest in HITS?* (long text field)
                                                    Are you a: (label for checkbox panel)
                                                    Developer (checkbox)
                                                    Architect (checkbox)
                                                    Do you represent a: (label for checkbox panel)
                                                    Vendor (checkbox)
                                                    School authority (checkbox)
                                                    Are you already familiar with SIF? (checkbox)
                                                    NSIP Project (pulldown list)
                                                    Submit (button)


                                              .col-sm-10
                                                  .checkbox.checkbox-primary
                                                      input#ch1(name="checkbox_developer",type='checkbox', checked='checked')
                                                      label(for='ch1') Developer
                                                  .checkbox.checkbox-success
                                                      input#ch2(name="checkbox_organisation",type='checkbox', checked='checked')
                                                      label(for='ch2') Organisation
                                                  .checkbox.checkbox-info
                                                      input#ch3(name="checkbox_partner",type='checkbox', checked='checked')
                                                      label(for='ch3') Partner
                                                  .checkbox.checkbox-warning
                                                      input#ch4(name="checkbox_request",type='checkbox', checked='checked')
                                                      label(for='ch4') Request further information
                                      .form-group
                                          label.col-sm-2.control-label Submit
                                          .col-sm-10
                                              button.btn.btn-default#welcomesubmit(type='submit') Send request
                            .col-md-6
                                .panel.panel-success
                                    .panel-heading
                                        h3.panel-title What is HITS?
                                    .panel-body
                                        p This website has two distinct functions:
                                        ol
                                            li It provides a learning and demonstration space for anyone interested in exploring the use of SIF 3. Additional Open Standards will be supported by HITS as required. In our demos area we provide examples of how you can integrate SIF into your own products and services.
                                            li HITS maintains a set of use cases and tests that have been created by educational institutions; these include the linking of timetabling and attendence into centrally provided School information Systems, and providing students and teachers access to online services. These can be used for assurance testing by product and service creators.
                                        p We also show how interoperability could be used by schools and jurisdictions, supported by enterprise information management services, in what we refer to as the ‘Information Hub’ model.
                                        p The HITS testing service allows you to test that your product can create, receive and respond to the requirements of the relevant use case. You can run these assurance tests without having a project relationship with an educational institution.
                                        p All data supplied to you as part of the testing service will be artificial, but representative of real-world data.
                                .panel.panel-success
                                    .panel-heading
                                        h3.panel-title Information
                                    .panel-body
                                        p Copyright NSIP 2015 - 2017 under the 
                                          a(href="http://www.apache.org/licenses/LICENSE-2.0.txt") Apache 2.0 license
                                        p Email 
                                          a(href="mailto:info@nsip.edu.au") info@nsip.edu.au
                                        p For more information about NSIP 
                                          a(href="http://www.nsip.edu.au") www.nsip.edu.au
                                        img(src='img/nsip.png',style='max-width: 100%; margin-right: 20px;')
                                        img(src='img/logo-200x200.png',style='max-width: 100%')
block css
block js
    if !release
        script(src='js/template/index.js')
