extends ./parts/layout.jade
block vars
    - page = 'Interoperavility';
    - area = 'Welcome';
block main

    .main-heading
        .main-title
            ol.breadcrumb
                li.active HITS Welcome
                li.active Interoperability - HITS &amp; SIF
        // .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .panel.panel-info
                            .panel-heading
                                    h2.panel-title Interoperability: HITS + SIF
                                .panel-body
                                    p The demand for technology in the classroom has never been higher. As well as searching for the best products to help achieve learning outcomes, schools have to support many hardware types such as tablets and mobile devices; they must also integrate laptops that may be brought to the school by the student, rather than provided by the school.
                                    p It is also important to educators, administrators and technicians that the products selected for use by schools can share and reuse common data as easily as possible.
                                    p Faced with such diversity we are seeing the emergence of a new strategic pattern being adopted by educational institutions; that of the ‘Information Hub’.
                                    p In this pattern, institutions (such as state departments of education, Catholic school networks, Independent school networks etc.) will focus their resources on maintaining well-managed central repositories of information about and for the schools they represent.
                                    p With core data services residing in the Hub, institutions can then release useful information to providers of products and services in order to allow them to meet the needs of schools.
                                    p In this model, as schools select products to work with, they also provide data from the Hub to ensure that using the new product is as easy as possible, particularly removing low-value tasks such as creating user accounts for students within each product. Meanwhile the central institution, such as a state department of education, maintains an up-to-date set of information about the enrolment of every student in every school.
                                    p For example, when a school decides to use a new software product, information (subject to any necessary privacy and policy constraints) can be provided from the Hub to the product in order to create user accounts for all students in Year 7 of a particular school, or for all students studying English in an entire jurisdiction.
                                    p The advantages are many:
                                    ul
                                        li The centrally maintained repository in the Hub will be up to date and accurate, so solution providers can deal with a single source of truth.
                                        li In the classroom, less effort in needed to make new solutions available to students.
                                        li Overall there is also a benefit to the central institution as it allows schools to choose which products they want to work with, and allows the market to provide solutions which include mobile and tablet interfaces which would be prohibitive for the institution itself to provide.
                                    p There is a clear need within this Hub model for data exchange to be based on open, transparent and secure standards.
                                    p Across the Australian education institutions there is agreement that the standard to be used is SIF.
                                    p SIF is an international standard for the safe exchange of school and student information, and will be required within products that wish to participate in the Hub-based models that education institutions will support in the coming years in Australia.
block css
block js
    if !release
        script(src='js/template/index.js')
