extends ./parts/layout.jade
block vars
    - page = 'Recover Dashboard URL';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li.active HITS Dashboard
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
        .pages.pages_dashboard
            .row
                p TODO (Peter... What do you want on the front screen)
block css
block js
    if !release
        script(src='js/template/index.js')
