extends ./parts/layout.jade
block vars
    - page = 'Recover';
    - area = 'Tools';
block main
    .main-heading
        .main-filter
        .main-title
            ol.breadcrumb
                li
                    a(href="start.html") Developer Tools
                li.active Recovery
    .container-fluid.half-padding
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .panel.panel-info
                            .panel-heading
                                    h2.panel-title Recovery
                                .panel-body
                                    p Your environment URL is necessary to access any databases you have created in HITS If you do not have your original environment URL, try the following:
                                    ol
                                        li If you haven't used HITS before, request an account via 
                                            a(href="http://hits.nsip.edu.au/dashboard/") the <strong>Request an account</strong> section of the HITS Dashboard Welcome page
                                        li If you have used HITS before, search your email for the original environment URL which was sent to you by NSIP.
                                        li If you can't find your environment URL, ask for it to be resent via 
                                            a(href="mailto:info@nsip.edu.au") info@nsip.edu.au
                                        p (Automated self resend coming soon!)
block css
block js
    if !release
        script(src='js/template/index.js')
