extends ./parts/layout.jade
block vars
    - page = 'Recovery';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li.active Recovery
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
        .pages.pages_dashboard
            .row
                p Your environment URL is necessary to access any databases you have created in HITS If you do not have your original environment URL, try the following:
                ol
                  li If you haven't used HITS before, you will need a unique environment URL to start working with HITS. Request this via info@nsip.edu.au
                  li If you have used HITS before, search your email for the original environment URL which was sent to you by NSIP.
                  li If you can't find your environment URL, ask for it to be resent via info@nsip.edu.au. (Automated self resend coming soon!)
block css
block js
    if !release
        script(src='js/template/index.js')
