extends ./parts/layout.jade
block vars
    - page = 'Start';
    - area = 'Tools';
block main

    .main-heading
        .main-title
            ol.breadcrumb
                li.active Start here
        // .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .container-fluid.half-padding
                        .row
                            .col-md-12
                                .panel.panel-info
                                    .panel-heading
                                        h3.panel-title Welcome to HITS (Hub Integration Testing Services)
                                    .panel-body
                                        .row
                                          .col-md-6
                                            p
                                              strong An assurance and demonstration environment for education integrations.
                                .panel.panel-danger
                                    .panel-heading
                                        h3.panel-title Start here
                                    .panel-body
                                        include ../docs/working-usecases.html
block css
block js
    if !release
        script(src='js/template/index.js')
