extends ./parts/layout.jade
block vars
    - page = 'Basic Daily Attendance';
    - area = 'Usecase';
block main

    .main-heading
        .main-title
            ol.breadcrumb
                li.active Use Cases
                li.active Basic daily attendance
        // .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .panel.panel-info
                            .panel-heading
                                h2.panel-title How to implement basic daily attendance
                            .panel-body
                                 include ../../../../usecases/output/basic_daily_attendance/hits-dashboard_raw.html
block css
block js
    if !release
        script(src='js/template/index.js')
