extends ./parts/layout.jade
block vars
    - page = '';
    - area = 'Usecase';
block main

    .main-heading
        .main-title
            ol.breadcrumb
                li
                  a(href="usecase.html") Use Cases
                li.active XXX
    .container-fluid.half-padding
        .pages.pages_dashboard
        .template
            .row
                .col-md-12
                    .panel.panel-info
                            .panel-heading
                                h2.panel-title XXX
                            .panel-body
                                 include ../../../../usecases/output/common/tech_preamble_raw.html
block css
block js
    if !release
        script(src='js/template/index.js')
