.foot {
  margin-bottom: 0;
  border: 0;
  position: absolute;
  bottom:0;
  width: 100%;
  background-color: @red;
  color: @smoke-light;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 26px;
  font-size: 12px;
  }
  
.foot a {
  color: @smoke-light;
  }